/*!
 * Sean Leitch 2020
 */

html {
    scroll-behavior: smooth;
    background-color: #141414 !important;
}

header {
    background: linear-gradient(23deg, #8e1399c5 0%, #3f1052b7 100%), url(../assets/water.jpg) center center;
    background-size: cover;
}

footer {
    background-color: #141414 !important;
}

.nav-logo-img {
    max-height: 2em;
}

.jumbotron {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}


/* IMAGES */

.card-img-thumb {
    display: block;
    max-width: 100%;
    margin-bottom: 1em;
}


/* COLOURS */

.colour-none {
    background-color: transparent !important;
}

.colour-purple {
    background-color: #4e0d53 !important;
}

.colour-purplelight {
    background-color: #fde6ff !important;
}

.colour-darkpurple {
    background-color: #4e0d53 !important;
}

.colour-darkgrey {
    background-color: #141414 !important;
}

.colour-darkgrey-a {
    background-color: #141414a8 !important;
}

.colour-none {
    background: linear-gradient(23deg, #8e1399c5 0%, #3f1052b7 100%), url(../assets/water.jpg) center center;
    background-size: cover;
}

.colour-yellow {
    background-color: #FFFF00 !important;
}

.colour-cyan {
    background-color: cyan !important;
}

.colour-green {
    background-color: #00ff80 !important;
}

.text-colour-yellow {
    color: #FFD735 !important;
    font-weight: 700;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}


/* BUTTONS */

.button-banner {
    background-color: #2CE11E !important;
    color: #000000;
    font-weight: 600;
    border-radius: 0;
    border: 0;
    padding: 1em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button-banner2 {
    background-color: #FFFF00 !important;
    color: #000000;
    font-weight: 600;
    border-radius: 0;
    border: 0;
    padding: 1em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


/* GRID */

iframe {
    max-width: 100%;
    display: block;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0.5rem;
    overflow: auto;
}

.item {
    width: 100%;
    padding: 1rem;
}